@page
@model BasicWorkManager.Pages.PasswordResetModel
@{
    ViewData["Title"] = "Password Reset";
}

<div class="container bg-light translate-middle position-absolute top-50 start-50 p-4 rounded shadow-lg"
style="max-width: 600px">
    <form method="post">
        <h2 class="text-center mb-4">@Model.localizer.GetString("Title", Model)</h2>
        <div class="mb-2">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-person"></i></span>
                <input id="userInput" class="form-control" placeholder="@Model.localizer.GetString("EmailOrUsername", Model)" asp-for="UsernameOrEmail" required />
            </div>
            <div id="error" class="errorText mt-1">@Model.ErrorMessage</div>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">@Model.localizer.GetString("SubmitButton", Model)</button>
            <a class="btn btn-secondary ms-2" asp-page="/Index">@Model.localizer.GetString("BackButton", Model)</a>
        </div>
    </form>
</div>
